#loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
}
#loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #3498db;

    -webkit-animation: spin 2s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 2s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */

    z-index: 1001;
}

    #loader:before {
        content: "";
        position: absolute;
        top: 5px;
        left: 5px;
        right: 5px;
        bottom: 5px;
        border-radius: 50%;
        border: 3px solid transparent;
        border-top-color: #e74c3c;

        -webkit-animation: spin 3s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
        animation: spin 3s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
    }

    #loader:after {
        content: "";
        position: absolute;
        top: 15px;
        left: 15px;
        right: 15px;
        bottom: 15px;
        border-radius: 50%;
        border: 3px solid transparent;
        border-top-color: #f9c922;

        -webkit-animation: spin 1.5s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
          animation: spin 1.5s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
    }
@-webkit-keyframes spin {
        0%   { 
            -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: rotate(0deg);  /* IE 9 */
            transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
        }
        100% {
            -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: rotate(360deg);  /* IE 9 */
            transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
        }
    }
    @keyframes spin {
        0%   { 
            -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: rotate(0deg);  /* IE 9 */
            transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
        }
        100% {
            -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: rotate(360deg);  /* IE 9 */
            transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
        }
    }

    #loader-wrapper .loader-section {
        position: fixed;
        top: 0;
        width: 51%;
        height: 100%;
        background: #222222;
        z-index: 1000;
        -webkit-transform: translateX(0);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: translateX(0);  /* IE 9 */
        transform: translateX(0);  /* Firefox 16+, IE 10+, Opera */
    }

    #loader-wrapper .loader-section.section-left {
        left: 0;
    }

    #loader-wrapper .loader-section.section-right {
        right: 0;
    }

    /* Loaded */
    .loaded #loader-wrapper .loader-section.section-left {
        -webkit-transform: translateX(-100%);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: translateX(-100%);  /* IE 9 */
                transform: translateX(-100%);  /* Firefox 16+, IE 10+, Opera */

        -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);  
                transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
    }

    .loaded #loader-wrapper .loader-section.section-right {
        -webkit-transform: translateX(100%);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: translateX(100%);  /* IE 9 */
                transform: translateX(100%);  /* Firefox 16+, IE 10+, Opera */

-webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);  
        transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
    }
    
    .loaded #loader {
        opacity: 0;
        -webkit-transition: all 0.3s ease-out;  
                transition: all 0.3s ease-out;
    }
    .loaded #loader-wrapper {
        visibility: hidden;

        -webkit-transform: translateY(-100%);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: translateY(-100%);  /* IE 9 */
                transform: translateY(-100%);  /* Firefox 16+, IE 10+, Opera */

        -webkit-transition: all 0.3s 1s ease-out;  
                transition: all 0.3s 1s ease-out;
    }
     .no-js #loader-wrapper {
        display: none;
    }
    .no-js h1 {
        color: #222222;
    }
h2{
	color:black;
}
strong{
	color:black;
}
#logo{
	position:relative;
	left:500px;
	top:10px;
}

ul{
	list-style:none;
	padding:0;
	margin:0;
}
.hov>ul{
	display:none;
}
.hov:hover.hov>ul{
	display:block;
}
#cs{
	position:relative;
	top:3px;
	left:210px;
}
#box{
	height:100px;
	background-color:#734d26;
}
#buzz{
	position:relative;
	top:-92px;
	left:550px;
}
#t1{
	color:blue;
}
.right_col1
{   position:absolute; 
    float: right;
  top:600px;
   right:0px;
  //  margin:7% 0%;
 
    width: 230px;
}
body{

background-image:url("../images/bg2.jpg");
width:100%;
height:100%;
}*/

.contact_tab
{
    background: #009fd3;
    height: 33px;
    position: relative;
    text-align: center;
    width: 230px;
    border-bottom: 1px solid #b7c3fa;
    border-radius: 5px 5px 0 0;
}

.contact_tab2
{
    background: #009fd3;
    height: 33px;
    position: relative;
    text-align: center;
    width: 230px;
    border-bottom: 1px solid #b7c3fa;
    border-radius: 5px 5px 0 0;
    border-bottom: 1px solid #b7c3fa;
}

    .contact_tab h2, .contact_tab2 h2
    {
        color: #fff;
        font-family: Arial;
        font-size: 10pt;
        font-weight: bold;
        margin: 0;
        line-height: 33px;
        text-align: center;
        width: auto !important;
    }



.link_box
{
    margin-bottom: 10px;
    padding: 0 1% 1%;
    width: 97%;
    border: solid 1px #f0f0f0;
    border-bottom: 3px solid #dadada;
}

    .link_box ul
    {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    .link_box li
    {
        background: url("../../Images/arrow.png") no-repeat scroll 0 9px transparent;
        border-bottom: 1px solid #e3e3e3;
        display: block;
        font-size: 13px;
        padding-left: 18px;
    }

        .link_box li a
        {
            color: #424242;
            display: block;
            font-size: 11px;
            padding: 8px 0;
            text-decoration: none;
        }

            .link_box li a:hover
            {
                color: #DA0202;
            }



.newsEvent
{
    margin-bottom: 0;
    height: 200px;
    overflow: hidden;
}

    .newsEvent div.innerNews
    {
        padding: 10px;
        height: 200px;
    }

    .newsEvent ul
    {
        height: 160px;
        padding: 7px;
    }

        .newsEvent ul li
        {
            background: none transparent;
            font-size: 11px;
            line-height: 1.5em;
            margin: 0;
            text-align: left;
            border-bottom: dashed 1px #ccc;
            padding: 5px 0;
            color: #424242;
        }

            .newsEvent ul li:hover
            {
                color: #000;
                text-decoration: none;
            }

     


.ticker
{
    overflow: auto;
    position: relative;
}

    .ticker li                               
                                   
    {
        display: block;
    }

    .ticker div
    {
        margin-top: 0;
    }


#links{
list-style:none;
display:flex;
}
#fb{
position:relative;
left:1130px;

}
#f1{
color:#3B5998;
font-size:20px;
}
#t1{
color:#55ACEE;
font-size:20px;
}
#g1{
color:red;
font-size:20px;
}
#twitter{
position:relative;
left:1140px;

}
#google{
position:relative;
left:1150px;

}
div.b{position:absolute;
   top:130px;
  left:50px;
  float:left;


}
div.c
{  position:absolute;
    top:90px;
   left:50px;
   float:left;
}

.dropdown{margin-left:10px;
position:absolute;
   top:182px;}


#btn1
{

background-color:gray;
color:white;
}

#txt1{
position:absolute;
top:30px;
right:50px;
 float:right;
border-style:solid gray;
border-width:3px;
}

#btn2{
position:absolute;
background-color:red;
top:30px;
right:15px;
 float:right;
}

.CS-cover {
	background-image: url('i-love-edm.jpg');
	height:	200px;
	background-size:  100% 100%;
	background-repeat: no-repeat;
	margin: auto;
}
.carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 70%;
      margin: auto;
 }
.Roller {
	margin: auto;

}
.Roller .container{
	margin:auto;
}
.col-md-4 {
	text-align: center;
}
.col-md-4 > h1 , h2 {
	font-weight: bold;
}
.col-md-4 > h4 {
	font-weight: bold;
}
.col-md-12{
	padding: 10px 20px;

}
.col-md-12 ul{
	text-align: left;

}
.col-md-12 h2{
	font-weight: bold;
}
.Footer {margin-top:35%;
    bottom: 0;
	height:100px;
	width: 100%;
	background-color: #202020;
	text-align: center;
}
.Footer p{
	margin-top: 10px;
	color: #6D6D6C;
}
.inner a {
	margin: 8px auto;
	text-align: center;
    color: white; 
    text-decoration: none;
}
#outer{
    width:100%;
    text-align: center;
}
.inner {
    display: inline-block; 
}
.modal-header, h4, .close {
    background-color: #202020;
    color:white !important;
    text-align: center;
    font-size: 30px;
}
.modal-footer {
    background-color: #f9f9f9;
}
.contact{
	position: fixed;
	bottom: 0px;
	right: 0px;
}


 .open > a, 
.nav .open > a:hover, 
.nav .open > a:focus {background-color: transparent;}

/*-------------------------------*/
/*           Wrappers            */
/*-------------------------------*/

/*#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}*/

#wrapper.toggled {
    padding-left: 220px;
}
        
#sidebar-wrapper {
position:absolute;
    z-index: 1000;
    left: 220px;
    width: 0;
    height: 100%;
    margin-left: -220px;
    margin-top:60px;
   /* overflow-y: auto;
    overflow-x: hidden;
    background: #1a1a1a;
    -webkit-5all0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;*/
}

 /*#sidebar-wrapper::-webkit-scrollbar {
 display: none;*/
}

#wrapper.toggled #sidebar-wrapper {
    width: 220px;
    
}

#page-content-wrapper {
    width: 100%;
   /* padding-top: 70px;*/
}

/*#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -220px;
}*/

/*-------------------------------*/
/*     Sidebar nav styles        */
/*-------------------------------*/

.sidebar-nav {
    position: relatve;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
    
}

.sidebar-nav li {
    position: relative; 
    line-height: 20px;
    display:block;
    width: 100%;
    
}

.sidebar-nav li:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    height: 40px;
    width: 3px;
    background-color: #1c1c1c;
    -webkit-transition: width .2s ease-in;
      -moz-transition:  width .2s ease-in;
       -ms-transition:  width .2s ease-in;
            transition: width .2s ease-in;

}
.sidebar-nav li:first-child a {
    color: #fff;
    background-color: #222;
}
.sidebar-nav li:nth-child(2):before {
    background-color: #ec1b5a;   
}
.sidebar-nav li:nth-child(3):before {
    background-color: #79aefe;   
}
.sidebar-nav li:nth-child(4):before {
    background-color: #314190;   
}
.sidebar-nav li:nth-child(5):before {
    background-color: #279636;   
}
.sidebar-nav li:nth-child(6):before {
    background-color: #7d5d81;   
}
.sidebar-nav li:nth-child(7):before {
    background-color: #ead24c;   
}
.sidebar-nav li:nth-child(8):before {
    background-color: #2d2366;   
}
.sidebar-nav li:nth-child(9):before {
    background-color: #35acdf;   
}
.sidebar-nav li:hover:before,
.sidebar-nav li.open:hover:before {
    width: 100%;
    -webkit-transition: width .2s ease-in;
      -moz-transition:  width .2s ease-in;
       -ms-transition:  width .2s ease-in;
            transition: width .2s ease-in;

}

.sidebar-nav li a {
    display: block;
    color: #ddd;
    /*text-decoration: none;*/
    padding: 10px 15px 10px 30px;    
}

.sidebar-nav li a:hover,
.sidebar-nav li a:active,
.sidebar-nav li a:focus,
.sidebar-nav li.open a:hover,
.sidebar-nav li.open a:active,
.sidebar-nav li.open a:focus{
    color: #fff;
  /*  text-decoration: none;*/
    background-color: transparent;
}

.sidebar-nav > .sidebar-brand {
    
    height: 40px;
    font-size: 20px;
    line-height: 30px;
}
.sidebar-nav .dropdown-menu {
    position: relative;
    width: 100%;
    padding: 0;
    margin: 0;
    border-radius: 0;
    border: none;
    background-color: #222;
    box-shadow: none;
}


/*-------------------------------*/
/*       Hamburger-Cross         */
/*-------------------------------*/
/*
-------------------------------*/
/*            Overlay            */
/*-------------------------------*/
/*
.overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(250,250,250,.8);
    z-index: 1;
}*/






