h2{
	color:black;
}
strong{
	color:black;
}
#logo{
	position:relative;
	left:500px;
	top:10px;
}
#cs{
	position:relative;
	top:3px;
	left:210px;
}
#box{
	height:100px;
	background-color:#734d26;
}
#buzz{
	position:relative;
	top:10px;
	left:550px;
}
#copyright{
	position:relative;
	bottom:1px;
	left:550px;
	color:black;
}

#t1{
	color:blue;
}
.right_col1
{   position:absolute; 
    float: right;
  top:600px;
   right:0px;
  //  margin:7% 0%;
 
    width: 230px;
}
body{

background-image:url("../images/bg2.jpg");
width:100%;
height:100%;
}

.contact_tab
{
    background: #009fd3;
    height: 33px;
    position: relative;
    text-align: center;
    width: 230px;
    border-bottom: 1px solid #b7c3fa;
    border-radius: 5px 5px 0 0;
}

.contact_tab2
{
    background: #009fd3;
    height: 33px;
    position: relative;
    text-align: center;
    width: 230px;
    border-bottom: 1px solid #b7c3fa;
    border-radius: 5px 5px 0 0;
    border-bottom: 1px solid #b7c3fa;
}

    .contact_tab h2, .contact_tab2 h2
    {
        color: #fff;
        font-family: Arial;
        font-size: 10pt;
        font-weight: bold;
        margin: 0;
        line-height: 33px;
        text-align: center;
        width: auto !important;
    }



.link_box
{
    margin-bottom: 10px;
    padding: 0 1% 1%;
    width: 97%;
    border: solid 1px #f0f0f0;
    border-bottom: 3px solid #dadada;
}

    .link_box ul
    {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    .link_box li
    {
        background: url("../../Images/arrow.png") no-repeat scroll 0 9px transparent;
        border-bottom: 1px solid #e3e3e3;
        display: block;
        font-size: 13px;
        padding-left: 18px;
    }

        .link_box li a
        {
            color: #424242;
            display: block;
            font-size: 11px;
            padding: 8px 0;
            text-decoration: none;
        }

            .link_box li a:hover
            {
                color: #DA0202;
            }



.newsEvent
{
    margin-bottom: 0;
    height: 200px;
    overflow: hidden;
}

    .newsEvent div.innerNews
    {
        padding: 10px;
        height: 200px;
    }

    .newsEvent ul
    {
        height: 160px;
        padding: 7px;
    }

        .newsEvent ul li
        {
            background: none transparent;
            font-size: 11px;
            line-height: 1.5em;
            margin: 0;
            text-align: left;
            border-bottom: dashed 1px #ccc;
            padding: 5px 0;
            color: #424242;
        }

            .newsEvent ul li:hover
            {
                color: #000;
                text-decoration: none;
            }

     


.ticker
{
    overflow: auto;
    position: relative;
}

    .ticker li                               
                                   
    {
        display: block;
    }

    .ticker div
    {
        margin-top: 0;
    }


#links{
list-style:none;
display:flex;
}
#fb{
position:relative;
left:1130px;

}
#f1{
color:#3B5998;
font-size:20px;
}
#t1{
color:#55ACEE;
font-size:20px;
}
#g1{
color:red;
font-size:20px;
}
#twitter{
position:relative;
left:1140px;

}
#google{
position:relative;
left:1150px;

}
div.b{position:absolute;
   top:130px;
  left:50px;
  float:left;


}
div.c
{  position:absolute;
    top:90px;
   left:50px;
   float:left;
}

.dropdown{margin-left:10px;
position:absolute;
   top:182px;}


#btn1
{

background-color:gray;
color:white;
}

#txt1{
position:absolute;
top:30px;
right:50px;
 float:right;
border-style:solid gray;
border-width:3px;
}

#btn2{
position:absolute;
background-color:red;
top:30px;
right:15px;
 float:right;
}

.CS-cover {
	background-image: url('i-love-edm.jpg');
	height:	200px;
	background-size:  100% 100%;
	background-repeat: no-repeat;
	margin: auto;
}
.carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 70%;
      margin: auto;
 }
.Roller {
	margin: auto;

}
.Roller .container{
	margin:auto;
}
.col-md-4 {
	text-align: center;
}
.col-md-4 > h1 , h2 {
	font-weight: bold;
}
.col-md-4 > h4 {
	font-weight: bold;
}
.col-md-12{
	padding: 10px 20px;

}
.col-md-12 ul{
	text-align: left;

}
.col-md-12 h2{
	font-weight: bold;
}
.Footer {
    bottom: 0;
	height:100px;
	width: 100%;
	background-color: #202020;
	text-align: center;
}
.Footer p{
	margin-top: 10px;
	color: #6D6D6C;
}
.inner a {
	margin: 8px auto;
	text-align: center;
    color: white; 
    text-decoration: none;
}
#outer{
    width:100%;
    text-align: center;
}
.inner {
    display: inline-block; 
}
.modal-header, h4, .close {
    background-color: #202020;
    color:white !important;
    text-align: center;
    font-size: 30px;
}
.modal-footer {
    background-color: #f9f9f9;
}
.contact{
	position: fixed;
	bottom: 0px;
	right: 0px;
}
