div.b{position:absolute;
   top:130px;
  left:50px;
  float:left;


}
div.c
{  position:absolute;
    top:90px;
   left:50px;
   float:left;
}

.dropdown{margin-left:10px;
position:absolute;
   top:182px;}


#btn1
{

background-color:gray;
color:white;
}

#txt1{
position:absolute;
top:30px;
right:50px;
 float:right;
border-style:solid gray;
border-width:3px;
}

#btn2{
position:absolute;
background-color:red;
top:30px;
right:15px;
 float:right;
}

.CS-cover {
	background-image: url('i-love-edm.jpg');
	height:	200px;
	background-size:  100% 100%;
	background-repeat: no-repeat;
	margin: auto;
}
.carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 70%;
      margin: auto;
 }
.Roller {
	margin: auto;

}
.Roller .container{
	margin:auto;
}
.col-md-4 {
	text-align: center;
}
.col-md-4 > h1 , h2 {
	font-weight: bold;
}
.col-md-4 > h4 {
	font-weight: bold;
}
.col-md-12{
	padding: 10px 20px;

}
.col-md-12 ul{
	text-align: left;

}
.col-md-12 h2{
	font-weight: bold;
}
.Footer {
    bottom: 0;
	height:100px;
	width: 100%;
	background-color: #202020;
	text-align: center;
}
.Footer p{
	margin-top: 10px;
	color: #6D6D6C;
}
.inner a {
	margin: 8px auto;
	text-align: center;
    color: white; 
    text-decoration: none;
}
#outer{
    width:100%;
    text-align: center;
}
.inner {
    display: inline-block; 
}