

/* reset.css */
html {margin:0;padding:0;border:0;}
body, div, span, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, dialog, figure, footer, header, hgroup, nav, section {margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article, aside, details, figcaption, figure, dialog, footer, header, hgroup, menu, nav, section {display:block;}
body {line-height:1.5;background:white;}

blockquote:before, blockquote:after, q:before, q:after {content:'';}
blockquote, q {quotes:"" "";}
a img {border:none;}
:focus {outline:0;}

/*blue2.css*/
body {text-align:center;}
.container {text-align:left;}
* html .column, * html .span-1, * html .span-2, * html .span-3, * html .span-4, * html .span-5, * html .span-6, * html .span-7, * html .span-8, * html .span-9, * html .span-10, * html .span-11, * html .span-12, * html .span-13, * html .span-14, * html .span-15, * html .span-16, * html .span-17, * html .span-18, * html .span-19, * html .span-20, * html .span-21, * html .span-22, * html .span-23, * html .span-24 {display:inline;overflow-x:hidden;}
* html legend {margin:0px -8px 16px 0;padding:0;}
sup {vertical-align:text-top;}
sub {vertical-align:text-bottom;}
html>body p code {*white-space:normal;}
hr {margin:-8px auto 11px;}
img {-ms-interpolation-mode:bicubic;}
.clearfix, .container {display:inline-block;}
* html .clearfix, * html .container {height:1%;}
fieldset {padding-top:0;}


/* typography.css */
html {font-size:100.01%;}
body {font-size:75%;color:#222;background:#fff;font-family:"Helvetica Neue", Arial, Helvetica, sans-serif;}
h1, h2, h3, h4, h5, h6 {font-weight:normal;color:#111;}
h1 {font-size:3em;line-height:1;margin-bottom:0.5em;}
h2 {font-size:2em;margin-bottom:0.75em;}
h3 {font-size:1.5em;line-height:1;margin-bottom:1em;}
h4 {font-size:1.2em;line-height:1.25;margin-bottom:1.25em;}
h5 {font-size:1em;font-weight:bold;margin-bottom:1.5em;}
h6 {font-size:1em;font-weight:bold;}
h1 img, h2 img, h3 img, h4 img, h5 img, h6 img {margin:0;}
p {margin:0 0 1.5em;}
/*.left10{ position:relative; top:250px; left:20px; }*/
.left {float:left !important; 
}
p .left {margin:1.5em 1.5em 1.5em 0;padding:0;}
.right {float:right !important;}
p .right {margin:1.5em 0 1.5em 1.5em;padding:0;}
a:focus, a:hover {color:#09f;}
a {color:#06c;text-decoration:underline;}

caption {background:#eee;}
.small {font-size:.8em;margin-bottom:1.875em;line-height:1.875em;}
.large {font-size:1.2em;line-height:2.5em;margin-bottom:1.25em;}
.hide {display:none;}
.quiet {color:#666;}
.loud {color:#000;}
.highlight {background:#ff0;}
.added {background:#060;color:#fff;}
.removed {background:#900;color:#fff;}
.first {margin-left:0;padding-left:0;}
.last {margin-right:0;padding-right:0;}
.top {margin-top:0;padding-top:0;}
.bottom {margin-bottom:0;padding-bottom:0;}


.container {width:950px;margin:0 auto;}
.showgrid {background:url(debug/grid.png);}
.column, .span-1, .span-2, .span-3, .span-4, .span-5, .span-6, .span-7, .span-8, .span-9, .span-10, .span-11, .span-12, .span-13, .span-14, .span-15, .span-16, .span-17, .span-18, .span-19, .span-20, .span-21, .span-22, .span-23, .span-24 {float:left;margin-right:7px;}
.last {margin-right:0;}
.span-1 {width:30px;}
.span-2 {width:70px;}
.span-3 {width:100px;}
.span-4 {width:150px;}
.span-5 {width:190px;}
.span-6 {width:230px;}
.span-7 {width:270px;}
.span-8 {width:310px;}
.span-9 {width:350px;}
.span-10 {width:390px;}
.span-11 {width:430px;}
.span-12 {width:480px;}
.span-13 {width:510px;}
.span-14 {width:550px;}
.span-15 {width:700px;}
.span-16 {width:630px;}
.span-17 {width:670px;}
.span-18 {width:710px;}
.span-19 {width:750px;}
.span-20 {width:790px;}
.span-21 {width:830px;}
.span-22 {width:870px;}
.span-23 {width:910px;}
.span-24 {width:950px;margin-right:0;}

.box {padding:1.5em;margin-bottom:1.5em;background:#e5eCf9;}
hr {background:#ddd;color:#ddd;clear:both;float:none;width:100%;height:1px;margin:0 0 17px;border:none;}
hr.space {background:#fff;color:#fff;visibility:hidden;}
.clearfix:after, .container:after {content:"\0020";display:block;height:0;clear:both;visibility:hidden;overflow:hidden;}
.clearfix, .container {display:block;}
.clear {clear:both;}

/*STYLE.CSS*/
body 
{
    font-family: 'Segoe UI Regular', 'Segoe UI', Arial, Helvetica, sans-serif;
    font-size: 12px; 
    -webkit-font-smoothing:auto;
}

.h1 {font-size:3em;line-height:1;}
.h2 {font-size:2em;}
.h3 {font-size:1.5em;line-height:1;}
.h4 {font-size:1.2em;line-height:1.25;}
.h5 {font-size:1em;font-weight:bold;}
.h6 {font-size:1em;font-weight:bold;}

.fall-1{margin-top:10px;}
.fall-2{margin-top:20px;}
.fall-3{margin-top:30px;}
.fall-4{margin-top:40px;}
.fall-5{margin-top:50px;}


.layer-0 {z-index:0;  position:relative;}
.layer-1 {z-index:1;  position:relative;}
.layer-2 {z-index:2;  position:relative;}
.layer-3 {z-index:3;  position:relative;}
.layer-4 {z-index:4;  position:relative;}
.layer-5 {z-index:5;  position:relative;}
.layer-6 {z-index:6;  position:relative;}
.layer-7 {z-index:7;  position:relative;}
.layer-8 {z-index:8;  position:relative;}
.layer-9 {z-index:9;  position:relative;}
.layer-10{z-index:10; position:relative;}

a
{
    font-size:1em;
    cursor:pointer;
    text-decoration:none;
}
a:hover
{
    text-decoration:underline;
}

.info a
{
    text-decoration:underline;
}

a.disabled,
a.disabled:hover
{
    color:#666;
    cursor:default;
    text-decoration:none;
}

b
{
    font-weight: 900;
    font-family: 'Segoe UI Regular', 'Segoe UI', Arial, Helvetica, sans-serif;
}

.em1 {font-size:1em;}
.large {font-size:1.2em;line-height:1.2em;}
.huge {font-size:2.4em;}
.black {color:#222 !important;}
.white {color:#FFF !important;}



.center
{
    margin-left:auto;
    margin-right:auto;
    float:none;
}


.block
{
    display:block;
}


.tight
{
    margin:0px;
}

.controlWithText .controlText
{
    padding:7px;
    border:2px solid #ddd;
    margin-top:-7px;
    font-size:1em;
    color:#666;
}

.controlWithText .controlText .a
{
    color:#666;
    text-decoration:underline;
}

.controlWithText .control:hover + .controlText
{
    color:#222;
}

.wrap-1
{
    white-space:nowrap;
    text-overflow:ellipsis;
    overflow:hidden;
}
.wrap-2
{
    /*ToDo(DZ): Show ellipses*/
    text-overflow:ellipsis;
    overflow:hidden;
    height:35px;
}

.relative
{
    position:relative;
}
.absolute
{
    position:absolute;
}




/*highlight*/
.highlight
{
    position:absolute; 
    top:-6px; 
    left:-6px; 
    background-color:#a0e1ed;
    border-radius:12px;
    border: 6px solid #a0e1ed;
    width:100%; 
    height:100%;
}


/*galleryItems*/
.galleryItem .highlight
{
    width:110px;
    height:100%;
    border:none;
    display:none;  
}
.galleryItem.selected .highlight
{
    display:block;
}
.galleryItem:hover .highlight
{
    display:block;
    background-color:#ffe76a;
}

/*worldThumbnails*/
.worldThumbnail
{
    text-align:center;
}
.worldThumbnail.gallery
{
    height:60px;
	width:100px;
    border-radius:8px;
    box-shadow: 0px 0px 6px 1px #444;
    background-color:#444;
    overflow:hidden;
    cursor:pointer;
    background-size:cover;
    
    behavior: url(/PIE.htc);
}

.worldThumbnail.gallery:hover
{    
    animation-timing-function:ease-in-out;
    box-shadow: 0px 0px 8px 3px #111;
    background-color:#111;
}
.worldThumbnail.gallery img
{
    border-radius:8px;
    width:100%;
    height:70px;
	width:110px;
    
    behavior: url(/PIE.htc);
}
.worldThumbnail.wrldDetails img
{
    border-radius: 12px;
    box-shadow: 0px 0px 8px #444;
    
    behavior: url(/PIE.htc);
}

/*userThumbnails*/
.userThumbnail
{    
    box-shadow: 0px 0px 12px #444;
    border-radius: 12px;
    
    behavior: url(/PIE.htc);
}
.userThumbnail img
{
    border-radius: 12px;
    
    behavior: url(/PIE.htc);
}

/*pagination*/
.pageLink
{
    padding:2px 4px;
    font-weight: 900;
    font-family:Berlin Sans FB Demi, Arial Black, Sans-Serif;
    color:#888;
    width:16px;
    text-align:center;
    background-color:#FFF;
    border:1px solid #888;
    border-radius:6px;
    margin-left:5px;
    display:inline-block;
    cursor:pointer;
    
    behavior: url(/PIE.htc);
}
.pageLink:hover
{
    box-shadow: 0px 0px 4px #000;
    
    behavior: url(/PIE.htc);
}
.pageLink:hover.selected
{
    box-shadow: 0px 0px 0px #888;
    cursor:default;
    
    behavior: url(/PIE.htc);
}
.pageLink.selected
{
    background-color:#222;
    color:#EEE
}

/*HOME.CSS*/
.worldShowcase
{
    border-radius:12px;
    height:200px;
	width:300px;
    position:relative;
    
    box-shadow: 0 0 12px #444;
    
    behavior: url(/PIE.htc);
}
.worldShowcase img.worldShowcase .infoOverlay
{
    border-radius:8px;
    
    behavior: url(/PIE.htc);
}

.worldShowcase .infoOverlay
{
    zoom: 1;
    filter: alpha(opacity=50);
    opacity: 0.5;
    
    background-color:Black;
    color:White;
    
    position:absolute;
    left:0px;
    bottom:0px;
        
    border-bottom-left-radius: 8px;
   /* border-bottom-right-radius: 8px;*/
    
    padding: 16px 0px 16px 12px;
    width:250px;
}
.worldShowcase .infoOverlay a,
.worldShowcase .infoOverlay a:hover
{
    color:White;
}
.worldShowcase .infoOverlay a.disabled
{
    text-decoration:none;
    cursor:default;
}
